*{margin: 0; padding:0}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url("../fonts/OpenSans-Regular.woff"),
    url("../fonts/OpenSans-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url("../fonts/OpenSans-Bold.woff"),
    url("../fonts/OpenSans-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}
.header {
    width: 100%;
    position: relative;
    background-image: url("../images/football_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: black;
}
.header::after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    opacity: 0.9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.logo {
    position: relative;
    width: 192px;
    height: 48px;
    fill: white;
    margin: 0 auto;
    padding-top: 44px;
    z-index: 1;
}
h1 {
    font-size: calc(3.875vw + 16px);
    letter-spacing: 5px;
    color: #ffffff;
    font-family: 'OpenSans-Bold';
    font-weight: 700;
}
.first_slogan {
    position: relative;
    margin-top: 15%;
    margin-left: 5.2%;
    text-transform: uppercase;
    z-index: 2;
}
.second_slogan {
    position: relative;
    margin-left: 33.3%;
    margin-bottom: 11.5%;
    text-transform: uppercase;
    z-index: 2;
}
.buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.appstore_button, .googleplay_button {
    position: relative;
    width: 310px;
    height: 75px;
    background-color: #5e42b0;
    border-radius: 40px;
    border: 0;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: justify;
    padding-left: 105px;
    background-size: 40px;
    background-position: left 45px center;
    background-repeat: no-repeat;
    z-index: 3;
    margin-bottom: 105px;
}
.googleplay_button {
    background-image: url("../svg/google-play_white.svg");
    margin-left: 25px;
}
.appstore_button {
    background-image: url("../svg/apple_logo_white.svg");
    margin-right: 25px;
}
.button_text {
     font-family: 'OpenSans-Regular';
     font-weight: 400;
 }
.button_brand {
    text-align: left;
    font-family: 'OpenSans-Bold';
    font-weight: 700;
}

@media (max-width: 320px) and (orientation:portrait){
    .header {
        background-image: url("../images/football_767.jpg");
        background-size: cover;
    }
    .logo {
        width: 135px;
        height: 38px;
        padding-top: 30px;
    }
    h1 {
        letter-spacing: 1px;
    }
    .first_slogan {
        margin-top: 42%;
        margin-left: 6.25%;
    }
    .second_slogan {
        margin-top: 6.25%;
        margin-left: 20%;
        margin-bottom: 28%;
    }
    .buttons {
        flex-wrap: wrap;
    }
    .appstore_button, .googleplay_button {
        width: 280px;
        height: 35px;
        font-size: 8px;
        padding-left: 110px;
        background-size: 25px;
        background-position: left 80px center;
        margin-right: 0;
        margin-left: 0;
    }
    .appstore_button {
        margin-bottom: 15px;
    }
    .googleplay_button {
        margin-bottom: 85px;
    }
}
@media (min-width: 321px) and (max-width: 768px) {
    .header {
        background-image: url("../images/football_1280.jpg");
        background-size: cover;
    }
    .logo {
        width: 210px;
        height: 56px;
        padding-top: 35px;
    }
    h1 {
        letter-spacing: 3px;
    }
    .first_slogan {
        margin-top: 9.3%;
        margin-left: 11.7%;
    }
    .second_slogan {
        margin-top: 2.6%;
        margin-left: 25.4%;
        margin-bottom: 40.4%;
    }
    .buttons {
        flex-wrap: wrap;
    }
    .appstore_button, .googleplay_button {
        width: 310px;
        height: 75px;
        background-size: 30px;
        margin-bottom: 85px;
        border-radius: 40px;
        border: 0;
    }
    .appstore_button {
        margin-right: 15px;
    }
    .googleplay_button {
        margin-left: 15px;
    }
}
@media (min-width: 321px) and (max-width: 648px) {

    .appstore_button {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .googleplay_button {
        margin-left: 0;
    }
}
@media (min-width: 769px) and (max-width: 1600px){
    .second_slogan {
        margin-left: 195px;
    }
}

.container_athlets,.container_players {
    position: relative;
    max-width: 100%;
}
.container_athlets::before {
    position: absolute;
    content: "";
    background-image: url("../images/footballer_566.png");
    background-size: 62%;
    background-repeat: no-repeat;
    width: 52%;
    height: 100%;
    margin-top: 1.8%;
    margin-left: 15%;
    z-index: 2;
}
.subtitle_athlets {
    font-size: 5rem;
    color: #e7e7e7;
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 5.7%;
    padding-bottom: 2.9%;
    padding-left: 48%;
}
.athlets_articles {
    display: block;

}
.athlets_article {
    padding: 2.9% 10% 2.9% 48%;
}
.athlets_article:nth-child(2) {
    background-color: #f5f4f9;
}
.athlets_article:nth-child(3) {
    background-color: #5e42b0;
}
.athlets_title {
    display: flex;
    justify-content: flex-start;
}
.athlets_header {
    font-size: 2.25rem;
    letter-spacing: 2px;
    color: #c1c1c1;
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    text-transform: uppercase;
}
.athlets_text {
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #000000;
    font-family: 'OpenSans-Regular';
    font-weight: 400;
    padding-top: 1%;
}
.athlets_text_white {
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #efefef;
    font-family: 'OpenSans-Regular';
    font-weight: 400;
    padding-top: 1%;
}
.athlets_number, .athlets_number_white {
    font-size: 1.3125rem;
    letter-spacing: 1px;
    color: #000000;
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    text-align: center;
    padding-right: 0.5%;
}
.athlets_number::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
}
.athlets_number_white::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #efefef;
}
.container_players::before {
    position: absolute;
    content: "";
    background-image: url("../images/basketballer_991.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 52%;
    height: 100%;
    margin-top: 0.75%;
    margin-left: 42%;
    z-index: 2;
}
.subtitle_players {
    font-size: 5rem;
    color: #e7e7e7;
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 5.7%;
    padding-bottom: 2.9%;
    padding-left: 9.4%;
}
.players_article {
    padding: 2.9% 50.5% 2.9% 9.4%;
}
.players_article:nth-child(2) {
    background-color: #f5f4f9;
}
.players_article:nth-child(3) {
    background-color: #0a0e34;
}
.players_title {
    display: flex;
    justify-content: flex-start;
}
.players_header {
    font-size: 2.25rem;
    letter-spacing: 2px;
    color: #c1c1c1;
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    text-transform: uppercase;
}
.players_text {
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #000000;
    font-family: 'OpenSans-Regular';
    font-weight: 400;
    padding-top: 1%;
}
.players_text_white {
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #efefef;
    font-family: 'OpenSans-Regular';
    font-weight: 400;
    padding-top: 1%;
}
.players_number {
    font-size: 1.3125rem;
    letter-spacing: 1px;
    color: #000000;
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    text-align: center;
    padding-right: 0.5%;
}
.players_number_white {
    font-size: 1.3125rem;
    letter-spacing: 1px;
    color: #9173e6;
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    text-align: center;
    padding-right: 0.5%;
}
.players_number::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
}
.players_number_white::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #efefef;
}

@media (max-width: 320px) and (orientation:portrait) {

    .container_athlets::before {
        content: "";
        position: absolute;
        background-image: url("../images/footballer_192.png");
        background-size: 62%;
        background-repeat: no-repeat;
        background-position: top 70px center;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        z-index: 2;
    }
    .subtitle_athlets, .subtitle_players {
        font-size: 3.125rem;
        padding-top: 3.2%;
        padding-bottom: 78%;
        padding-left: 6.25%;
    }
    .athlets_article, .players_article {
        padding: 18.75% 11% 18.75% 6.25%;
        background-color: #fafafa;
    }
    .athlets_header, .players_header {
        font-size: 1.4375rem;
        letter-spacing: 1px;
    }
    .athlets_text, .athlets_text_white, .players_text, .players_text_white {
        font-size: 0.9375rem;
        letter-spacing: 1px;
        padding-top: 6.25%;
    }
    .athlets_number, .athlets_number_white, .players_number, .players_number_white {
        font-size: 0.875rem;
        letter-spacing: 1px;
    }
    .athlets_number::after, .players_number::after {
        content: "";
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 14px;
        height: 4px;
        border-radius: 1px;
        background-color: #5e42b0;
    }
    .athlets_number_white::after, .players_number_white::after {
        content: "";
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 14px;
        height: 4px;
        border-radius: 1px;
        background-color: #efefef;
    }
    .container_players::before {
        position: absolute;
        content: "";
        background-image: url("../images/basketballer_302.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top 90px center;
        width: 94%;
        height: 100%;
        z-index: 2;
        margin-top: auto;
        margin-left: auto;
    }
}

@media (min-width: 321px) and (max-width: 768px) {

    .container_athlets::before {
        position: absolute;
        content: "";
        background-image: url("../images/footballer_497.png");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 68%;
        height: 100%;
        z-index: 2;
        margin-top: 15.6%;
        margin-left: -23.4%;
    }
    .subtitle_athlets {
        font-size: 5rem;
        padding-top: 9%;
        padding-left: 37.7%;
        padding-bottom: 0;
    }
    .athlets_article {
        padding: 4.5% 3.25% 4.5% 38.4%;
    }
    .athlets_header, .players_header {
        font-size: 2rem;
    }
    .athlets_text, .athlets_text_white {
        font-size: 1rem;
        line-height: 27px;
    }
    .athlets_number, .athlets_number_white, .players_number, .players_number_white {
        font-size: 1.125rem;
    }
    .container_players::before {
        position: absolute;
        content: "";
        background-image: url("../images/basketballer_436.png");
        background-size: 97%;
        background-repeat: no-repeat;
        width: 56%;
        height: 100%;
        z-index: 2;
        margin-top: 8.5%;
        margin-left: 43.6%;
    }
    .subtitle_players {
        font-size: 5rem;
        padding-top: 9.1%;
        padding-left: 4%;
        padding-bottom: 0;
    }
    .players_article {
        padding: 4.5% 40% 4.5% 4%;
    }

    .players_text, .players_text_white {
        font-size: 1rem;
        line-height: 27px;
    }
}
@media (min-width: 321px) and (max-width: 600px) {
    .subtitle_athlets {
        font-size: 2.5rem;
    }
    .subtitle_players {
        font-size: 2.5rem;
    }
}