*{margin: 0; padding:0}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url("../fonts/OpenSans-Regular.woff"),
    url("../fonts/OpenSans-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url("../fonts/OpenSans-Bold.woff"),
    url("../fonts/OpenSans-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

a, a:visited, a:hover  {
    color: #c1c1c1;
    text-decoration: none;
}
.header {
    width: 100%;
    position: relative;
    background-image: url("../images/football_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: black;
}
.header::after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    opacity: 0.9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.logo {
    position: relative;
    width: 192px;
    height: 48px;
    fill: white;
    margin: 0 auto;
    padding-top: 44px;
    z-index: 1;
}
h1 {
    font-size: calc(3.875vw + 16px);
    letter-spacing: 5px;
    color: #ffffff;
    font-family: 'OpenSans-Bold', sans-serif;;
    font-weight: 700;
}
.first_slogan {
    position: relative;
    margin-top: 295px;
    margin-left: 195px;
    text-transform: uppercase;
    z-index: 1;
}
.second_slogan {
    position: relative;
    margin-left: 645px;
    margin-bottom: 220px;
    text-transform: uppercase;
    z-index: 1;
}
.buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.appstore_button, .googleplay_button {
    position: relative;
    width: 310px;
    height: 75px;
    background-color: #5e42b0;
    border-radius: 40px;
    border: 0;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: justify;
    padding-left: 105px;
    background-size: 40px;
    background-position: left 40px center;
    background-repeat: no-repeat;
    z-index: 2;
    margin-bottom: 105px;
    cursor: pointer;
}
.googleplay_button {
    background-image: url("../svg/google-play_white.svg");
    margin-left: 25px;
}
.appstore_button {
    background-image: url("../svg/apple_logo_white.svg");
    margin-right: 25px;
}
.button_text {
     font-family: 'OpenSans-Regular', sans-serif;;
     font-weight: 400;
 }
.button_brand {
    text-align: left;
    font-family: 'OpenSans-Bold', sans-serif;;
    font-weight: 700;
}

@media (max-width: 320px) and (orientation:portrait){
    .header {
        background-image: url("../images/football_767.jpg");
    }
    .logo {
        width: 135px;
        height: 38px;
        padding-top: 30px;
    }
    h1 {
        letter-spacing: 1px;
    }
    .first_slogan {
        margin-top: 135px;
        margin-left: 20px;
    }
    .second_slogan {
        margin-left: 66px;
        margin-bottom: 90px;
    }
    .buttons {
        flex-wrap: wrap;
    }
    .appstore_button, .googleplay_button {
        position: relative;
        width: 280px;
        height: 35px;
        font-size: 8px;
        padding-left: 110px;
        background-size: 25px;
        background-position: left 80px center;
        margin-right: 0;
        margin-left: 0;
    }
    .appstore_button {
        margin-bottom: 12px;
    }
    .googleplay_button {
        margin-bottom: 82px;
    }
}
@media (min-width: 321px) and (max-width: 375px){
    .header {
        background-image: url("../images/football_767.jpg");
    }
    .logo {
        width: 135px;
        height: 38px;
        padding-top: 30px;
    }
    h1 {
        letter-spacing: 1px;
    }
    .first_slogan {
        margin-top: 135px;
        margin-left: 20px;
    }
    .second_slogan {
        margin-left: 66px;
        margin-bottom: 90px;
    }
    .buttons {
        flex-wrap: wrap;
    }
    .appstore_button, .googleplay_button {
        width: 280px;
        height: 35px;
        font-size: 8px;
        padding-left: 110px;
        background-size: 25px;
        background-position: left 80px center;
        margin-right: 0;
        margin-left: 0;
    }
    .appstore_button {
        margin-bottom: 12px;
    }
    .googleplay_button {
        margin-bottom: 82px;
    }
}
@media (min-width: 376px) and (max-width: 768px) {
    .header {
        background-image: url("../images/football_1280.jpg");
    }
    .logo {
        width: 210px;
        height: 56px;
        padding-top: 39px;
    }
    h1 {
        letter-spacing: 4px;
    }
    .first_slogan {
        margin-top: 183px;
        margin-left: 88px;
    }
    .second_slogan {
        margin-left: 195px;
        margin-bottom: 310px;
    }
    .buttons {
        flex-wrap: nowrap;
    }
    .appstore_button, .googleplay_button {
        background-size: 30px;
        margin-bottom: 88px;
    }
    .appstore_button {
        margin-right: 15px;
    }
    .googleplay_button {
        margin-left: 15px;
    }
}
@media (min-width: 321px) and (max-width: 648px) {

    .appstore_button {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .googleplay_button {
        margin-left: 0;
    }
}
@media (min-width: 769px) and (max-width: 1600px){
    .second_slogan {
        margin-left: 195px;
    }
}

.container_athlets,.container_players {
    position: relative;
    width: 100%;
}
.container_athlets::before {
    position: absolute;
    content: "";
    background-image: url("../images/footballer_566.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right;
    width: 45%;
    height: 100%;
    margin-top: 25px;
    z-index: 1;
}
.subtitle_athlets {
    font-size: 5rem;
    color: #e7e7e7;
    font-family: 'OpenSans-Bold', sans-serif;;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 115px;
    padding-bottom: 50px;
    padding-left: 925px;
}
.athlets_articles {
    display: block;
}
.athlets_article {
    padding: 55px 192px 55px 925px;
}
.athlets_article:nth-child(2) {
    background-color: #f5f4f9;
}
.athlets_article:nth-child(3) {
    background-color: #5e42b0;
}
.athlets_title {
    display: flex;
    justify-content: flex-start;
}
.athlets_header {
    font-size: 2.25rem;
    letter-spacing: 2px;
    color: #c1c1c1;
    font-family: 'OpenSans-Bold', sans-serif;;
    font-weight: 700;
    text-transform: uppercase;
}
.athlets_text {
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #000000;
    font-family: 'OpenSans-Regular', sans-serif;;
    font-weight: 400;
    padding-top: 20px;
}
.athlets_text_white {
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #efefef;
    font-family: 'OpenSans-Regular', sans-serif;;
    font-weight: 400;
    padding-top: 20px;
}
.athlets_number, .athlets_number_white {
    font-size: 1.31rem;
    letter-spacing: 1px;
    color: #000000;
    font-family: 'OpenSans-Bold', sans-serif;;
    font-weight: 700;
    text-align: center;
    padding-right: 10px;
}
.athlets_number::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
}
.athlets_number_white::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #efefef;
}
.container_players::before {
    position: absolute;
    content: "";
    background-image: url("../images/basketballer_991.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 52%;
    height: 100%;
    margin-top: 30px;
    margin-left: 810px;
    z-index: 1;
}
.subtitle_players {
    font-size: 5rem;
    color: #e7e7e7;
    font-family: 'OpenSans-Bold', sans-serif;;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 115px;
    padding-bottom: 50px;
    padding-left: 192px;
}
.players_article {
    padding: 55px 960px 55px 192px;
}
.players_article:nth-child(2) {
    background-color: #f5f4f9;
}
.players_article:nth-child(3) {
    background-color: #0a0e34;
}
.players_title {
    display: flex;
    justify-content: flex-start;
}
.players_header {
    font-size: 2.25rem;
    letter-spacing: 2px;
    color: #c1c1c1;
    font-family: 'OpenSans-Bold', sans-serif;;
    font-weight: 700;
    text-transform: uppercase;
}
.players_text {
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #000000;
    font-family: 'OpenSans-Regular', sans-serif;;
    font-weight: 400;
    padding-top: 20px;
}
.players_text_white {
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #efefef;
    font-family: 'OpenSans-Regular', sans-serif;;
    font-weight: 400;
    padding-top: 20px;
}
.players_number, .players_number_white {
    font-size: 1.31rem;
    letter-spacing: 1px;
    color: #000000;
    font-family: 'OpenSans-Bold', sans-serif;;
    font-weight: 700;
    text-align: center;
    padding-right: 10px;
}
.players_number_white {
    color: #9173e6;
}
.players_number::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
}
.players_number_white::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #efefef;
}

@media (max-width: 320px) and (orientation:portrait) {

    .container_athlets::before {
        content: "";
        position: absolute;
        background-image: url("../images/footballer_192.png");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: top 60px center;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }
    .subtitle_athlets, .subtitle_players {
        font-size: 3.13rem;
        padding-top: 20px;
        padding-bottom: 245px;
        padding-left: 15px;
    }
    .athlets_article, .players_article {
        padding: 55px 15px 55px 20px;
        background-color: #fafafa;
    }
    .athlets_header, .players_header {
        font-size: 1.44rem;
        letter-spacing: 1px;
    }
    .athlets_text, .athlets_text_white, .players_text, .players_text_white {
        font-size: 0.94rem;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    .athlets_number, .athlets_number_white, .players_number, .players_number_white {
        font-size: 0.88rem;
        letter-spacing: 1px;
    }
    .athlets_number::after, .players_number::after, .athlets_number_white::after, .players_number_white::after {
        content: "";
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 14px;
        height: 4px;
        border-radius: 1px;
        background-color: #5e42b0;
    }
    .athlets_number_white::after, .players_number_white::after {
        background-color: #efefef;
    }
    .container_players::before {
        position: absolute;
        content: "";
        background-image: url("../images/basketballer_302.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top 90px center;
        width: 95%;
        height: 100%;
        margin-top: auto;
        margin-left: auto;
        z-index: 1;
    }
}
@media (min-width: 320px) and (max-width: 375px) {

    .container_athlets::before {
        content: "";
        position: absolute;
        background-image: url("../images/footballer_192.png");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: top 60px center;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }
    .subtitle_athlets, .subtitle_players {
        font-size: 3.13rem;
        padding-top: 20px;
        padding-bottom: 245px;
        padding-left: 15px;
    }
    .athlets_article, .players_article {
        padding: 55px 15px 55px 20px;
        background-color: #fafafa;
    }
    .athlets_header, .players_header {
        font-size: 1.44rem;
        letter-spacing: 1px;
    }
    .athlets_text, .athlets_text_white, .players_text, .players_text_white {
        font-size: 0.94rem;
        letter-spacing: 1px;
        padding-top: 20px;
    }
    .athlets_number, .athlets_number_white, .players_number, .players_number_white {
        font-size: 0.88rem;
        letter-spacing: 1px;
    }
    .athlets_number::after, .players_number::after, .athlets_number_white::after, .players_number_white::after {
        content: "";
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 14px;
        height: 4px;
        border-radius: 1px;
        background-color: #5e42b0;
    }
    .athlets_number_white::after, .players_number_white::after {
        background-color: #efefef;
    }
    .container_players::before {
        position: absolute;
        content: "";
        background-image: url("../images/basketballer_302.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top 90px center;
        width: 95%;
        height: 100%;
        margin-top: auto;
        margin-left: auto;
        z-index: 1;
    }
}
@media (min-width: 376px) and (max-width: 768px) {

    .container_athlets::before {
        position: absolute;
        content: "";
        background-image: url("../images/footballer_497.png");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 68%;
        height: 100%;
        margin-top: 65px;
        margin-left: -165px;
        z-index: 1;
    }
    .subtitle_athlets {
        font-size: 5rem;
        padding-top: 75px;
        padding-left: 295px;
        padding-bottom: 0;
    }
    .athlets_article {
        padding: 55px 30px 55px 295px;
    }
    .athlets_header, .players_header {
        font-size: 2rem;
    }
    .athlets_text, .athlets_text_white {
        font-size: 1rem;
        line-height: 25px;
    }
    .athlets_number, .athlets_number_white, .players_number, .players_number_white {
        font-size: 1.13rem;
    }
    .container_players::before {
        position: absolute;
        content: "";
        background-image: url("../images/basketballer_436.png");
        background-size: 97%;
        background-repeat: no-repeat;
        width: 56%;
        height: 100%;
        margin-top: 65px;
        margin-left: 335px;
        z-index: 1;
    }
    .subtitle_players {
        font-size: 5rem;
        padding-top: 85px;
        padding-left: 30px;
        padding-bottom: 0;
    }
    .players_article {
        padding: 35px 305px 35px 30px;
    }

    .players_text, .players_text_white {
        font-size: 1rem;
        line-height: 25px;
    }
}
@media (min-width: 321px) and (max-width: 600px) {
    .subtitle_athlets {
        font-size: 2.5rem;
    }
    .subtitle_players {
        font-size: 2.5rem;
    }
}
@media (min-width: 769px) and (max-width: 960px) {
    .container_athlets::before {
        position: absolute;
        content: "";
        background-image: url("../images/footballer_497.png");
        background-size: 80%;
        background-repeat: no-repeat;
        width: 68%;
        height: 100%;
        margin-top: 65px;
        margin-left: -295px;
        z-index: 1;
    }
    .subtitle_athlets {
        font-size: 5rem;
        padding-top: 75px;
        padding-left: 295px;
        padding-bottom: 0;
    }
    .athlets_article {
        padding: 55px 30px 55px 295px;
    }
    .athlets_header, .players_header {
        font-size: 2rem;
    }
    .athlets_text, .athlets_text_white {
        font-size: 1rem;
        line-height: 25px;
    }
    .athlets_number, .athlets_number_white, .players_number, .players_number_white {
        font-size: 1.13rem;
    }
    .container_players::before {
        position: absolute;
        content: "";
        background-image: url("../images/basketballer_436.png");
        background-size: 97%;
        background-repeat: no-repeat;
        width: 56%;
        height: 100%;
        margin-top: 45px;
        margin-left: 435px;
        z-index: 1;
    }
    .subtitle_players {
        font-size: 5rem;
        padding-top: 85px;
        padding-left: 30px;
        padding-bottom: 0;
    }
    .players_article {
        padding: 35px 305px 35px 30px;
    }

    .players_text, .players_text_white {
        font-size: 1rem;
        line-height: 25px;
    }
}
@media (min-width: 321px) and (max-width: 600px) {
    .subtitle_athlets {
        font-size: 2.5rem;
    }
    .subtitle_players {
        font-size: 2.5rem;
    }
}
.container-links {
    width: 100%;
    position: relative;
}
.sport_link {
    display: flex;
    flex-wrap: nowrap;
}
.sport_link_reverse {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
.photo {
    width: 50%;
}
.text {
    width: 50%;
}
.sport_number1, .sport_number2, .sport_number3 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #f5f6f7;
    font-family: 'OpenSans-Bold', sans-serif;;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.sport_number1::after, .sport_number2::after, .sport_number3::after {
    content: "";
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24px;
    height: 5px;
    border-radius: 2px;
    background-color: #ffffff;
    left: calc(50% - 12px);
    margin-top: 305px;
    opacity: 0.5;
    z-index: 1;
}
.sport_number1::before, .sport_number2::before, .sport_number3::before {
    content:"";
    text-align: center;
    line-height: 155px;
    position: absolute;
    display: block;
    width: 155px;
    height: 155px;
    background-color: #5e42b0;
    margin-top: 11%;
    left: calc(50% - 77.5px);
    z-index: 1;
}
.sport_number1::before {
    content:"01";
}
.sport_number2::before {
    content:"02";
}
.sport_number3::before {
    content:"03";
}
.sport_header1, .sport_header2, .sport_header3 {
    font-size: 5rem;
    letter-spacing: 2px;
    color: #c1c1c1;
    font-family: 'OpenSans-Bold', sans-serif;;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 235px;
}
.sport_text1, .sport_text2, .sport_text3 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-family: 'OpenSans-Regular', sans-serif;;
    font-weight: 400;
}
.sport_header1 {
    margin-left: 130px;
    margin-bottom: 125px;
}
.sport_text1 {
    margin-left: 130px;
    margin-right: 180px;
}
.sport_header2 {
    margin-left: 195px;
    margin-bottom: 77px;
}
.sport_text2 {
    margin-left: 195px;
    margin-right: 130px;
}
.sport_header3 {
    margin-left: 130px;
    margin-bottom: 125px;
}
.sport_text3 {
    margin-left: 13.5%;
    margin-right: 180px;
}

@media (max-width: 320px) and (orientation:portrait) {

    .sport_link, .sport_link_reverse {
        display: block;
        position: relative;
    }
    .photo {
        width: 100%;
    }
    .text {
        width: 100%;
    }
    .sport_number1::after, .sport_number2::after, .sport_number3::after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 3px;
        border-radius: 2px;
        background-color: #ffffff;
        top: 45px;
        left: 47px;
        opacity: 0.5;
        z-index: 2;
    }
    .sport_number1::before, .sport_number2::before, .sport_number3::before {
        content:"01";
        font-size: 1.14rem;
        text-align: center;
        line-height: 70px;
        position: absolute;
        display: block;
        width: 70px;
        height: 70px;
        background-color: #5e42b0;
        left: 22px;
        top: 265px;
        z-index: 2;
    }
    .sport_number1::before {
        content:"01";
    }
    .sport_number2::before {
        content:"02";
    }
    .sport_number3::before {
        content:"03";
    }
    .sport_header1, .sport_header2, .sport_header3 {
        font-size: 1.75rem;
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 22px;
    }
    .sport_text1, .sport_text2, .sport_text3 {
        font-size: 1rem;
        line-height: 20px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 80px;
    }
}
@media (min-width: 321px) and (max-width: 375px) {

    .sport_link, .sport_link_reverse {
        display: block;
        position: relative;
    }
    .photo {
        width: 100%;
    }
    .text {
        width: 100%;
    }
    .sport_number1::after, .sport_number2::after, .sport_number3::after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 3px;
        border-radius: 2px;
        background-color: #ffffff;
        top: -20px;
        left: 47px;
        opacity: 0.5;
        z-index: 2;
    }
    .sport_number1::before, .sport_number2::before, .sport_number3::before {
        content:"01";
        font-size: 1.14rem;
        text-align: center;
        line-height: 70px;
        position: absolute;
        display: block;
        width: 70px;
        height: 70px;
        background-color: #5e42b0;
        left: 22px;
        top: 195px;
        z-index: 2;
    }
    .sport_number1::before {
        content:"01";
    }
    .sport_number2::before {
        content:"02";
    }
    .sport_number3::before {
        content:"03";
    }
    .sport_header1, .sport_header2, .sport_header3 {
        font-size: 1.75rem;
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 22px;
    }
    .sport_text1, .sport_text2, .sport_text3 {
        font-size: 1rem;
        line-height: 20px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 80px;
    }
}
@media (min-width: 376px) and (max-width: 768px) {

    .sport_link, .sport_link_reverse {
        display: block;
        position: relative;
    }
    .photo {
        width: 100%;
    }
    .text {
        width: 100%;
    }
    .sport_number1::after, .sport_number2::after, .sport_number3::after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 4px;
        border-radius: 2px;
        background-color: #ffffff;
        top: 265px;
        left: 79px;
        opacity: 0.5;
        z-index: 2;
    }
    .sport_number1::before, .sport_number2::before, .sport_number3::before {
        content:"01";
        font-size: 1rem;
        text-align: center;
        line-height: 116px;
        position: absolute;
        display: block;
        width: 116px;
        height: 116px;
        background-color: #5e42b0;
        top: 420px;
        left: 32px;
        z-index: 2;
    }
    .sport_number1::before {
        content:"01";
    }
    .sport_number2::before {
        content:"02";
    }
    .sport_number3::before {
        content:"03";
    }
    .sport_header1, .sport_header2, .sport_header3 {
        font-size: 5rem;
        margin-top: 60px;
        margin-left: 32px;
        margin-bottom: 25px;
    }
    .sport_text1, .sport_text2, .sport_text3 {
        font-size: 1.5rem;
        margin-left: 32px;
        margin-bottom: 95px;
    }
}
@media (min-width: 769px) and (max-width: 960px) {

    .sport_link, .sport_link_reverse {
        display: block;
        position: relative;
    }
    .photo {
        width: 100%;
    }
    .text {
        width: 100%;
    }
    .sport_number1::after, .sport_number2::after, .sport_number3::after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 4px;
        border-radius: 2px;
        background-color: #ffffff;
        top: 395px;
        left: 79px;
        opacity: 0.5;
        z-index: 2;
    }
    .sport_number1::before, .sport_number2::before, .sport_number3::before {
        content:"01";
        font-size: 1rem;
        text-align: center;
        line-height: 116px;
        position: absolute;
        display: block;
        width: 116px;
        height: 116px;
        background-color: #5e42b0;
        top: 525px;
        left: 32px;
        z-index: 2;
    }
    .sport_number1::before {
        content:"01";
    }
    .sport_number2::before {
        content:"02";
    }
    .sport_number3::before {
        content:"03";
    }
    .sport_header1, .sport_header2, .sport_header3 {
        font-size: 5rem;
        margin-top: 60px;
        margin-left: 32px;
        margin-bottom: 25px;
    }
    .sport_text1, .sport_text2, .sport_text3 {
        font-size: 1.5rem;
        margin-left: 32px;
        margin-bottom: 95px;
    }
}

.footer {
    width: 100%;
    position: relative;
    background-image: url("../images/game_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: black;
}
.footer::after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    opacity: 0.9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.logo_sign {
    position: relative;
    background-image: url("../images/artwork.png");
    background-repeat: no-repeat;
    width: 156px;
    height: 141px;
    background-color: unset;
    z-index: 1;
    left: 525px;
    top: 230px;
}
.logo {
    position: relative;
    width: 192px;
    height: 48px;
    fill: white;
    margin: 0 auto;
    padding-bottom: 45px;
    z-index: 1;
}
.buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.download_function {
    position: relative;
    font-size: calc(3vw + 22.4px);
    letter-spacing: 4px;
    color: #ffffff;
    font-family: 'OpenSans-Bold', sans-serif;;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 1;
}
.third_slogan {
    position: relative;
    font-size: calc(1vw + 10.8px);
    color: #a496ca;
    font-family: 'OpenSans-Regular', sans-serif;;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 1;
}
.appstore_button_footer, .googleplay_button_footer {
    position: relative;
    width: 310px;
    height: 75px;
    background-color: #5e42b0;
    border-radius: 40px;
    border: 0;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: justify;
    padding-left: 105px;
    background-size: 40px;
    background-position: left 40px center;
    background-repeat: no-repeat;
    z-index: 2;
    margin-top: 154px;
    margin-bottom: 262px;
    cursor: pointer;
}
.googleplay_button_footer {
    background-image: url("../svg/google-play_white.svg");
    margin-left: 25px;
}
.appstore_button_footer {
    background-image: url("../svg/apple_logo_white.svg");
    margin-right: 25px;
}
.action_footer {
    margin-left: 692px;
    margin-top: 80px;
}
@media (max-width: 320px) and (orientation:portrait) {
    .footer {
        background-image: url("../images/game_767.jpg");
    }
    .logo_sign {
        background-size: 80px;
        left: calc(50% - 80px/2);
        top: 100px;
    }
    .logo {
        width: 132px;
        height: 34px;
        padding-bottom: 10px;
    }
    .action_footer {
        margin: 60px 20px 75px;
    }
    .download_function {
        letter-spacing: 1px;
    }
    .third_slogan {
        letter-spacing: 1px;
        text-align: center;
    }
    .buttons {
        flex-wrap: wrap;
    }
    .appstore_button_footer, .googleplay_button_footer {
        width: 280px;
        height: 35px;
        font-size: 8px;
        padding-left: 110px;
        background-size: 25px;
        background-position: left 80px center;
        margin: 0;
    }
    .appstore_button_footer {
        margin-bottom: 12px;
    }
    .googleplay_button_footer {
        margin-bottom: 82px;
    }
}
@media (min-width: 321px) and (max-width: 375px) {
    .footer {
        background-image: url("../images/game_767.jpg");
    }
    .logo_sign {
        background-size: 80px;
        left: calc(50% - 80px/2);
        top: 100px;
    }
    .logo {
        width: 132px;
        height: 34px;
        padding-bottom: 10px;
    }
    .action_footer {
        margin: 60px 20px 75px;
    }
    .download_function {
        letter-spacing: 1px;
        text-align: center;
    }
    .third_slogan {
        letter-spacing: 1px;
        text-align: center;
    }
    .buttons {
        flex-wrap: wrap;
    }
    .appstore_button_footer, .googleplay_button_footer {
        width: 280px;
        height: 35px;
        font-size: 8px;
        padding-left: 110px;
        background-size: 25px;
        background-position: left 80px center;
        margin: 0;
    }
    .appstore_button_footer {
        margin-bottom: 12px;
    }
    .googleplay_button_footer {
        margin-bottom: 82px;
    }
}
@media (min-width: 376px) and (max-width: 768px) {
    .footer {
        background-image: url("../images/game_767.jpg");
    }
    .logo_sign {
        background-size: 140px;
        left: calc(50% - 140px/2);
        top: 125px;
    }
    .logo {
        width: 204px;
        height: 53px;
        padding-bottom: 22px;
    }
    .action_footer {
        margin: 153px 25px 285px;
    }
    .third_slogan {
        letter-spacing: 1px;
        text-align: center;
        font-size: 36px;
        line-height: 60px;
    }
    .download_function {
        text-align: center;
        font-size: 80px;
        letter-spacing: 4px;
    }
    .buttons {
        flex-wrap: nowrap;
    }
    .appstore_button_footer, .googleplay_button_footer {
        background-size: 30px;
        margin-top: 0;
        margin-bottom: 55px;
    }
}
@media (min-width: 321px) and (max-width: 648px) {

    .appstore_button_footer {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .googleplay_button_footer {
        margin-left: 0;
    }
}
@media (min-width: 769px) and (max-width: 960px) {
    .action_footer {
        margin-left: 302px;
        margin-top: 80px;
    }
    .logo_sign {
        background-size: 100px;
        left: 200px;
        top: 230px;
    }
}